<?xml version="1.0" encoding="utf-8"?>
	<packages>
		<package id="chocolatey"/>

		<package id="visualstudio2017enterprise"/>
		<package id="visualstudio2017-workload-netweb"/>
		<package id="visualstudio2017-workload-manageddesktop"/>
		<package id="visualstudio2017-workload-netcoretools"/>
		<package id="visualstudio2017-workload-azure"/>
		<package id="visualstudio2017-workload-vctools"/>
		<package id="visualstudio2017-workload-nativedesktop"/>
		<package id="visualstudio2017-workload-node"/>
		<package id="visualstudio2017-workload-data"/>
		<package id="visualstudio2017-workload-universal"/>
		<package id="visualstudio2017-workload-office"/>
		<package id="visualstudio2017-workload-netcrossplat"/>
		<package id="visualstudio2017-workload-webcrossplat"/>
		<package id="visualstudio2017-workload-nativecrossplat"/>
		<package id="visualstudio2017-workload-managedgame"/>
		<package id="visualstudio2017-workload-nativegame"/>
		<package id="visualstudio2017-workload-netcorebuildtools"/>
		<package id="visualstudio2017-workload-nativemobile"/>

		<package id="vscode"/>

		<package id="dotnetcore-sdk"/>
		<package id="dotnetcore-runtime"/>
		
		<package id="sql-server-management-studio"/>
		<package id="sql-server-express"/>
		<package id="mongodb"/>
		
		<package id="googlechrome"/>
		<package id="fiddler4"/>
		
		<package id="sysinternals"/>
		<package id="notepadplusplus"/>
		
		<package id="git"/>

		<package id="docker"/>
		<package id="docker-for-windows"/>
		<package id="docker-compose"/>

		<package id="winrar"/>

		<package id="nodejs"/>
		<package id="yarn"/>
		<package id="bower"/>
		<package id="sass"/>
		<package id="gradle"/>
		<package id="gulp"/>
		<package id="grunt-cli"/>

		<package id="curl"/>
		<package id="php"/>
		<package id="foxitreader"/>
		<package id="python2"/>

		<package id="azure-cli"/>
	</packages>